{
  "parser": "babel-eslint",
  "extends": ["standard", "plugin:import/warnings"],
  "plugins": [
    "ava",
    "react",
    "import"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    },
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "restParams": true,
    "spread": true,
    "experimentalObjectRestSpread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": false,
  },
  "globals": {
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "describe": true,
    "document": true,
    "expect": true,
    "it": true,
    "window": true
  },
  "rules": {
    "block-scoped-var": 2,
    "camelcase": [1, {properties: 'never'}],
    "comma-dangle": [1, "always-multiline"],
    "comma-style": [1, "last"],
    "comma-spacing": 1,
    "consistent-this": [2, "that"],
    "curly": [1, "all"],
    "default-case": 1,
    "eqeqeq": [2, "smart"],
    "guard-for-in": 2,
    "indent": [1, 2],
    "max-len": [1, 100, 4],
    "no-else-return": 1,
    "no-console": [1, { allow: ["warn", "error"] }],
    "no-debugger": 1,
    "no-lonely-if": 1,
    "no-multiple-empty-lines": 1,
    "no-param-reassign": 1,
    "no-plusplus": 1,
    "no-trailing-spaces": 1,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "no-var": 2,
    "no-void": 2,
    "operator-linebreak": [2, "after"],
    "object-curly-spacing": [1, "never"],
    "prefer-const": 1,
    "quotes": [1, "single"],
    "semi": [1, "never"],
    "space-before-function-paren": [1, "never"],
    "spaced-comment": [1, "always"],
    "space-infix-ops": [1],
    "strict": [2, "global"],
    "vars-on-top": 1,
    "wrap-regex": 1,
    "ava/no-only-test": 1,
    "ava/no-skip-test": 1,
    "ava/no-skip-assert": 1,
    "ava/no-todo-test": 1,
    "ava/no-statement-after-end": 1,
    "ava/no-ignored-test-files": 1,
    "ava/test-ended": 1,
    "ava/test-title": [1, "if-multiple"],
    "ava/use-t-well": 1,
    "ava/use-t": 1,
    "ava/use-test": 1,
    "ava/use-true-false": 1,
    "import/no-unresolved": [1, {"commonjs": true, "amd": true}],
    "import/no-extraneous-dependencies": 1,
    "import/named": 1,
    "import/namespace": 1,
    "import/default": 1,
    "import/export": 1,
    "import/imports-first": 1,
    "import/no-mutable-exports": 1,
    "import/no-named-as-default-member": 1,
    "import/no-named-as-default": 1,
    "react/display-name": 1,
    "react/no-deprecated": [1, {"react": "0.14.0"}],
    "react/no-did-mount-set-state": [1, "allow-in-func"],
    "react/no-did-update-set-state": 1,
    "react/no-direct-mutation-state": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": [1, { "ignore": ["children", "className"]}],
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 1,
    "react/sort-comp": [1, {
      "order": [
        "lifecycle",
        "/^on.+$/",
        "/^handle.+$/",
        "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
        "everything-else",
        "/^render.+$/",
        "render"
      ]
    }]
  }
}
